.container-postpage {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.heading-post {
  display: "flex";
  align-items: center;
  justify-content: center;
}
