.post-container {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 400px;
  border: 1px solid #eaeaea;
}
.info {
  margin: 0px;
}
.line-seperater {
  border: 1px solid #eaeaea;
}
.firstname {
  margin: 0px;
}
.post-email {
  margin: 0px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.follow-button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 15px;
}

.post-time {
  font-size: 14px;
  color: #999;
  padding-left: 10px;
}

.post-content {
  margin-bottom: 10px;
}
.likes-shares {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.likes,
.shares,
.comments {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.likes h5,
.shares h5,
.comments h5 {
  margin: 0;
}

.likes p,
.shares p,
.comments p {
  margin: 0;
  font-size: 14px;
  color: #999;
  margin-left: 5px;
}
.post-body {
  margin-bottom: 0px;
  padding-left: 10px;
}

.post-actions {
  display: flex;
  margin-top: -5px;
  justify-content: space-between;
}
.span {
  color: #1877f2;
}
.tags {
  padding-left: 10px;
}

.like-button,
.share-button,
.comment-button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(252, 69, 69);
}
