.header {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  background-color: #eeecec;
}
.postdetail-container {
  border-radius: 10px;
  margin-bottom: 20px;
  width: 400px;
  border: 1px solid #eaeaea;
}
.postdetail-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments-box {
  margin-left: 10px;
}
