.user-detail {
  display: flex;
  max-width: 100%;
  padding: 20px;
}
.navigation ul {
  list-style: none;
  margin-top: 20px;
  padding: 2px;
}
.container {
  margin-left: 155px;
}
.navigation li {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.navigation a {
  margin-top: 6px;
  text-decoration: none;
  color: #333;
}
.btn {
  background-color: #c8d3de;
  margin-left: 72px;
}
.main-profile {
  background-color: #394b70;
  width: 100%;
}
.header1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.empty-div {
  background-color: #eeecec;
  width: 20%;
}
.firstname-main {
  color: #fff;
  font-size: xx-large;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #eeecec;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.userdetail-info {
  display: flex;
  align-items: center;
}

.follow-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.post-content {
  margin-bottom: 20px;
}

.post-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-content .post-body {
  font-size: 16px;
}

.post-actions button {
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.like-div,
.share-div,
.messenger-div {
  display: flex;
  margin-left: 20px;
  color: aliceblue;
}

.buttons {
  margin-top: 0px;
  display: flex;
  margin-bottom: 16px;
}
.button-name {
  margin: 0px;
  margin-left: 9px;
}

.post-detail {
  display: flex;

  margin-top: 50px;
}
.avatar-main {
  margin-left: 430px;
}
.detail {
  margin-right: 155px;
  margin-left: 30px;
}
.logo {
  display: flex;
  align-items: center;
  height: 40px;
}

.fontidentify {
  margin-left: 25px;
}
